@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');


:root {
    --blue: 182, 77%, 65%;
    --light-blue: 199, 100%, 95%;    
    --bronze: 31, 100%, 70%;
    --light-bronze: 0, 0%, 100%;
    
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* font-family:  */
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

.profile-img {
    border-radius: 50%;
}

.portfolio-img {
    width: 200px;
    border: 1px solid #ddd;
}

.pic-wrapper {
    margin-top: 2rem;
    padding-left: 1rem;
}

.intro {
    display: flex;
}

.skills {
    background-image: linear-gradient(4deg, hsl(var(--blue)), hsl(var(--light-blue)));
}

.hobbies {
    background-image: linear-gradient(2deg, hsl(var(--bronze)), hsl(var(--light-bronze)));
}

.row {
    padding-bottom: 1.5rem;
}

