:root {
    --blue: 182, 77%, 65%;
    --light-blue: 185, 46%, 95%;   
    --sea-blue: 184, 47%, 54%;
    --white: 0, 0%, 100%;
    --yellow: 40, 100%, 55%;
    --dark-yellow: 40, 100%, 45%;
    --grey: 185, 14%, 34%;    
    --beige: 28, 100%, 86%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 10em);
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

nav {
    background-color: hsl(var(--sea-blue));
}

nav ul a {
    font-size: 1.1rem;
    text-transform: uppercase;    
    text-decoration-color: transparent;
    /* transition: text-decoration-color 0.4s ease */
    transition: text-decoration 0.3s;
    transition-timing-function: ease-out;
}

nav ul a:hover {
   text-decoration: underline;
   text-decoration-thickness: 5px;
   text-decoration-style: solid;
   text-decoration-color: hsl(var(--yellow));
   text-underline-offset: .5em;
   background-color: rgba(0,0,0,0);   
}

.section-title, .section-subtitle {
    text-transform: lowercase;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: .8;
    padding-left: .3em;
}

.section-subtitle {
    font-size: 2rem;
    font-weight: 400;
}

.section-txt {
    padding-left: 1.3rem;
}

.external-links, .certificate-links {
    color: hsl(var(--grey));
    font-weight: 600;
    text-decoration: none;
}

.external-links:hover, .certificate-links:hover {
    text-shadow: 1px 1px 1px hsl(var(--sea-blue));
}

.certificate-links {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0.3px;
    text-underline-offset: .18rem;
    text-decoration-color: hsl(var(--grey));
}

.certificate-links:hover {
    text-decoration: none;
}

.secondary-text {
    font-size: .95rem;
}


/* -------------------------------- Intro */
.profile-img {
    border-radius: 50%;
}

.pic-wrapper {
    margin-top: 2rem;
    padding-left: 1rem;
}

.intro {
    display: flex;
}

.certificate-list {
    padding-left: .5em !important;
    padding-right: .5em;
}


/* -------------------------------- Portfolio */
#portfolio {
    background-image: linear-gradient(4deg, hsl(var(--sea-blue)), hsl(var(--white)));
    padding: 15px 0;
}




.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}




.portfolio-img {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(var(--grey));
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1em;
    align-items: start;
    justify-items: center;
}

.project-link {
    display: inline-block;
    background-color: hsl(var(--grey));
    color: #fff;
    font-size: .8rem;
    letter-spacing: .1em;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 5px;
    line-height: 1.1;
}

.project-link:hover {
    background-color: hsl(var(--yellow));    
}

figure img {
    transition: filter 0.3s;
}

figure:hover img:not(figcaption img) {
    filter: brightness(30%);
}

.project-title {
    position: relative;
    top: 70px;
    left: 10px;
    z-index: 1;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

figure:hover .project-title {
    opacity: 1;
}

.project-title::after {
    content: "";
    position: absolute;
    width: calc(100% + 1.4rem);
    background: hsl(var(--yellow));
    top: -.5rem;
    bottom: -.5rem;
    left: -.7rem;
    z-index: -1;

    transform: scaleX(.075);
    transform-origin: left;
    transition: transform 350ms ease-in;
}

figure:hover .project-title::after {
    transform: scaleX(1);
}

.img-container {
    max-width: 300px;
}

figcaption a {
    margin: 12px 5px 5px;
} 

.container-badges {
    margin-top: .5em;
}

.container-badges li {
    display: inline;
    margin: .2em;    
}


/* -------------------------------- Skills */
.skills-txt {
    font-weight: bold;
    background-image: linear-gradient(80deg, hsl(var(--sea-blue)), hsl(var(--yellow)));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;    
}

.skills-wrapper p {
    margin: 2px 0;
}


/* -------------------------------- Hobbies/ interests */
.hobbies {
    background-image: linear-gradient(182deg, hsl(var(--beige)), hsl(var(--white)));
    padding: 15px 0;
}

.hobby-txt {
    font-size: 1rem;
    width: 70%;
    padding: 1em 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.hobby-txt-intro {
    font-size: 1.2em;
    text-shadow: 1px 1px 1.7px hsl(var(--grey));
}

/* .row {
    padding-bottom: 1.5rem;
} */

.img-thumbnail {
    width: 250px;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-out;
}

.img-thumbnail:hover {
    transform: scale(1.025);
    box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.5);    
}

#img-gallery {
    max-width: 90vw;
    margin-bottom: 100px;
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

#img-gallery figure {
    position: relative;
}

/* Fancyapps */
#myCarousel {
    max-width: 640px;
    margin: 0 auto;
  }

  #myCarousel .f-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img-size {
    width: 640px; 
    height: 480px; 
    object-fit: cover;
}


/* -------------------------------- Library */
.library-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 90vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.book-img {
    border-radius: 5px;
}

/* horizontal scroll */
.library-container::-webkit-scrollbar {
    height: .7em;    
}

.library-container::-webkit-scrollbar-track {
    background: hsl(var(--white));
    border: 1px solid hsla(var(--grey), 0.5);
    border-radius: 100vw;
    margin-block: .5em;

}

.library-container::-webkit-scrollbar-thumb {
    background: hsl(var(--sea-blue));
    border-radius: 100vw;
}

/* scrollbar for Firefox */
@supports(scrollbar-color: hsl(var(--sea-blue)) hsl(var(--white))) {
    * {
        scrollbar-color: hsl(var(--sea-blue)) hsl(var(--white));
        scrollbar-width: thin;
    }
}

#library {
    display: inline-flex;
    gap: 15px;
    flex-wrap: nowrap;
}

#library img {
    max-width: 250px;
    height: auto;
}


/* -------------------------------- Footer */
.social-links > li {
    display: inline;
    margin-right: 5px;
}

.footer-link {
    font-size: 1.5rem;
    margin-right: 5px;
}

.page-footer {
    background-color: hsl(var(--sea-blue));
}

.email-icon {
    margin-right: 3px;
}


/* -------------------------------- media query */

@media only screen and (max-width: 992px) {
    .hobby-txt {
        width: 90%;
    }
}

@media only screen and (max-width: 680px) {
    .img-container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 600px) {
    .intro {
        flex-direction: column-reverse;
    }

    .section-txt {
        /* text-align: center; */
        padding-left: 0;
    }
}

